<?xml version="1.0" encoding="UTF-8"?>
<suite name="Bookstore Regression" verbose="1" parallel="classes" thread-count="4">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="REST">
        <packages>
            <package name="app.bookstore.rest.*"/>
        </packages>
    </test>
    <test name="WEB">
        <packages>
            <package name="app.bookstore.selenium.*"/>
        </packages>
    </test>
</suite>